html {
  background-image: url(../img/bg.jpg);
  overflow: hidden;
}

body {
  margin: 0px;
  padding: 0px;
  font-style: sans-serif;
  text-align: center;
}

.star span {
  position: relative;
  width: 5px;
  height: 5px;
  background-color: white;
  border-radius: 30px;
  position: fixed;
  animation-name: particleAnimation;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  transform: rotate(90deg);
  z-index: -2;
}

.star span::before {
  position: absolute;
  display: block;
  content: '';
  width: 100px;
  right: 1px;
  top: 0;
  height: 5px;
  background: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgba(255, 255, 255, 0.4) 100%);
}

.star span:nth-of-type(1) {
  left: 25%;
  animation-duration: 10s;
}
.star span:nth-of-type(2) {
  left: 50%;
  animation-duration: 5s;
}
.star span:nth-of-type(3) {
  left: 65%;
  animation-duration: 7s;
}
.star span:nth-of-type(4) {
  left: 16%;
  animation-duration: 6s;
}
.star span:nth-of-type(5) {
  left: 30%;
  animation-duration: 8s;
}

@keyframes particleAnimation {
  from {
    top: -100px;
  }
  to {
    top: calc(100% + 100px);
    opacity: 0;
  }
}

#label {
  font: bold 30px/0px sans-serif;
}

.container {
  margin: 50px auto 0px;
  padding: 0px 30px 30px;
  width: 80%;
  background-image: linear-gradient(to bottom right, #bfb0db00, #bfb0db);
  border-radius: 30px;
}

#input-list {
  padding: 0;
  width: 300px;
  height: 45px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom-left-radius: 50px;
  border-top-left-radius: 50px;
  border: none;
  text-align: center;
  outline: none;
}

#addButton {
  width: 45px;
  height: 45px;
  background-color: #036582;
  border: none;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.input {
  position: relative;
}
.input:hover,
.input:active {
  transform: scale(1.2);
  transition: 0.5s;
}

.label {
  font: 30px/0px;
  padding: 30px 0px 10px;
  font-family: 'Roboto', sans-serif;
  text-align: center;
}

hr {
  border: 2px solid black;
  border-radius: 3px;
  width: 100px;
}

#inputLabel {
  font: bold 18px/10px sans-serif;
}

#list {
  width: 300px;
  height: 400px;
  font-size: 40px;
  margin: auto;
}

.taskList {
  border-bottom: 2px solid rgb(19, 19, 19);
  font: italic 20px/30px 'Montserrat', sans-serif;
  text-align: center;
}
#list :hover {
  cursor: pointer;
}
